.bus-summary {
  background: white;
  padding: 0.2em;
  cursor: pointer;

  .number {
    color: gray;
    font-size: 0.8em;
    margin-left: 0.5em;
  }

  h1 {
    font-size: 1.4em;
  }

  h2 {
    font-size: 1.2em;
  }

  h1, h2 {
    padding-left: 1rem;
  }

  ol {
    padding: 0;
    overflow: hidden;
  }

  li {
    list-style-type: none;
    float: left;
    width: 33%;
    text-align: center;
  }

  .schedule {
    margin-bottom: 2em;
  }

  .missed {
    color: red;
  }

  .available {
    color: green;
  }
}

