.bus-summary {
  padding: 0.2em;
  cursor: pointer;
  border-bottom: 1px solid $pale-purple;
  padding: 1em;

  .bus-name {
    color: $white;
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 0;
  }

  .company-name {
    color: $white;
    font-style: italic;
    font-weight: normal;
    font-size: 0.9em;
    margin-top: 0.2em;
    margin-bottom: 0;
  }

  .number {
    &:before {
      content: '-';
      margin: 0 0.2em;
    }
  }

  .impending-hours {
    margin-top: 1.5em;
  }
}

