.bus-detail {
  @include panel;
  cursor: pointer;

  h1, h2 {
    padding-left: 1rem;
  }

  ol {
    padding: 0;
    overflow: hidden;
  }

  li {
    list-style-type: none;
    float: left;
    width: 33%;
    text-align: center;
  }

  .schedule {
    margin-bottom: 2em;
  }

  .hours {
    font-size: 1.5em;
  }

  .missed {
    color: red;
  }

  .available {
    color: green;
  }
}

