.navigation {
  background: $light-orange;
  overflow: hidden;
  height: 60px;
  padding-top: 10px;
  padding-right: 10px;

  &.loading {
    @include retina-image(app/navigation/logo-header-loading, 38px 33px, 'gif');
  }

  @include retina-image(app/navigation/logo-header, 38px 33px);
  background-repeat: no-repeat;
  background-position: center;

  li {
    list-style-type: none;
  }

  ol {
    padding: 0;
    margin: 0;
  }

  .add-favorite-bus {
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    float: right;
    padding: 0;

    @include retina-image(app/navigation/bt-header-search, 23px 23px);
    background-repeat: no-repeat;
    background-position: center;
    @include size(50px 50px);
    @include hide-text;
  }
}
